*{
    box-sizing: border-box;
    /* min-height: 100vh;
    min-width: 100vw; */
}
body {
    margin:0;
    
    padding: 0;
}
.back{

    background-color: black;
    color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 4rem;
    right: 5rem;
}
.back:hover{
    cursor: pointer;
}
h1{
    margin: 0;
}
.gallery-cont{
    background-color: rgb(5,105,105);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* h1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   transform-origin: 0 0;
   transform: rotateZ(0 deg);
   z-index: 0;
   animation: pop-in .6s ease-out forwards;
}
@keyframes pop-in {
    0% {
      opacity: 0;
      transform: translateY(-4rem) scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  } */
.media-cont{
    height: 15rem;
    width: 15rem;
    /* background-color: rgb(4, 33,4); */
    border: 10px solid white;
}
.media {
    height: calc( 100% - 2rem - 2rem );
}
.media>*{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.action-btn{
    height: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.action-btn:hover{
    cursor: pointer;
}
.download{
  background-color: black;
}
.delete{
    background-color: red;
}

